textarea {
	width: 100%;
	height: 100%;
}
.text-area {
	float: left;
	background-color: #eee;
	width: 47%;
	margin-right: 10px;
	padding: 10px;
	height: auto;
}
button.recording:after {
  content: 'ING'; 

}
button.next {
}
#next-container {
	background-color: #ddd;
	height: 20px;
	position: fixed;
	display: none;
	bottom: 0px;
	right: 50px;
	padding: 10px;
}